html {
  width: 100%;
  height: 100%;
}


body {
  width: 100%;
  height: 100%;

  font-family: 'Jamsil';
  background-color: rgb(41, 41, 41);
  margin: 0px;
}

table {
  border-collapse: collapse;
  border-top: 1px solid white;
}

tr {
  border-bottom: 1px solid white;
}

ul {
  list-style: none;
}

#fadeOut {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}




.opa0 {
  opacity: 0;
}

.zhide {
  z-index: -1;
}















.divProfile {
  width: 300px;
  height: 300px;
  border-radius: 70%;
  overflow: hidden;
  margin: 0 auto;
}

.divNavProfile {
  width: 30px;
  height: 30px;
  /* radius 값이 70%일 때 원형 */
  border-radius: 70%;
  overflow: hidden;
}

.profileCircle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.bg-dark {
  background-color: rgb(41, 41, 41);
}




.container {
  display: flex;
}

.leftSection {
  flex: 1;
  background-color: rgb(41, 41, 41);
}

.middleSection {
  flex: 5;
  height: 90vh;
  background-color: #343a40;
  /* padding: 10px; */
}

.rightSection {
  flex: 1;
  background-color: rgb(41, 41, 41);
}

/* blog, board 리스트 글자 크기 */
.boardListTitle {
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
}



.content_box {
  position: absolute;
  /* top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; */
  background-color: steelblue;
  height: auto;
  clear: both;
  float: left;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  /* padding-top: 60px; */
}

.login_box {
  position: absolute;
  background-color: cornflowerblue;
  height: auto;
  clear: both;
  float: left;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  /* padding-top: 60px; */
}

.form_group {
  display: flex;
  align-items: center;
  text-align: center;
  width: 450px;
  height: 50px;
  background-color: white;
}

.login_form_title {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
}

.wrong_form {
  margin: 0 auto;
  font-size: 12px;
  color: red;
  font-weight: 600;
}

.form_group img {
  margin: 0 auto;
  width: 80px;
}

.input_group {
  display: flex;
  align-items: center;
  margin: 0 auto;

  height: 35px;
  background-color: whitesmoke;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2px;
}

.input_group input {
  display: block;
  border: none;
  box-sizing: border-box;
  /* margin: 3px; */
  background-color: whitesmoke;
  padding: 5px;
  width: 250px;
  height: 30px;
  border-radius: 7px;
}

.input_group input:focus {
  outline: none;
}


.button_group {
  display: flex;
  align-items: center;
  margin: 0 auto;

  height: 30px;
  background-color: deepskyblue;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.button_group button {
  display: block;
  border: none;
  box-sizing: border-box;
  margin-bottom: 5px;
  background-color: deepskyblue;
  padding: 5px;
  width: 250px;
  height: 25px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 15px;
  color: white;
  cursor: pointer;
}

.divine_line_group {
  display: flex;
  align-items: center;
  margin: 0 auto;

  width: 250px;
  height: 15px;
  border: none;
  border-radius: 7px;
}

.divine_line_box {
  flex: 3;
  margin: 0 auto;

}

.divine_line_box_mid {
  flex: 2;
  margin: 0 auto;

}

.divine_line {
  margin: 0 auto;
  width: 90px;
  height: 1px;
  border: none;
  background-color: #343a40;
}

.divine_line_text {
  display: inline;
  vertical-align: middle;
  margin: 0 auto;
  width: 50px;
  height: 3px;
  font-size: 12px;
}

.divine_line_text span {
  color: #343a40;
  font-size: 12px;
  font-weight: 700;
}





/* .button_group button {
  display: block;
  border: none;
  box-sizing: border-box;
  padding: 5px;
  width: 250px;
  height: 25px;
} */



.hidden {
  visibility: hidden;
  z-index: 1;
}

.visible {
  visibility: visible;
  z-index: 10;
}




.footer {
  /* display: inline-block; */
  /* background-color: aqua; */
  background-color: rgb(41, 41, 41);
  height: 10vh;
  /* padding: 30px; */
  /* height: 100px; */
}