a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: steelblue;
  text-decoration: none;
}
a:active {
  color: green;
  text-decoration: none;
}




.navbar {
  width: 100%;
  /* 네비게이션 바 높이 */
  height: 60px;
  background-color: #343a40;
  display: flex;
  align-items: center;
}

.navbar button {
  border: 0px;
  padding: 0px;
  color: white;
  background-color: transparent;
  /* letter-spacing: 2px; */
  font-size: 15px;
}

.nav_l_section {
  margin-left: 10px;
  height: 30px;
  flex: 1;
  display: flex;
  align-items: center;
  cursor : pointer;
}

.nav_l_section button {
  color: white;
  /* font-weight: 700; */
  font-size: 17px;
  margin-left: 7px;
  cursor : pointer;
  /* letter-spacing: 1px; */
}

.nav_img_div {
  width: 30px;
  height: 30px; 
  border-radius: 70%;
  overflow: hidden;
  display: flex;
  align-items: center;
  float: left;
}

.nav_title {
  display: flex;
  align-items: center;
  float: left;
}

.profileCircle {
  width: 100%;
  height: 100%;
  object-fit: cover;
}






.nav_m_section {
  width: 100%;
  height: 30px;
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.nav_m_section a {
  margin-left: 40px;
}


.nav_m_section ul {
  margin-right: 30px;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: right;

}

.nav_m_section li {
  float: left;
  margin-left: 30px;
  color: white;
  font-weight: 700;
}

.nav_m_section button:hover {
  cursor: pointer;
  color: steelblue;
  text-decoration: none;
}



.nav_r_section {
  margin-right: 15px;
  height: 30px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav_r_section button {
  margin-left: 30px;
  /* font-weight: 700; */
  display: table-cell;
  float: right;
  cursor: pointer;
  /* padding-left: 10px; */
}

